#game-board{display:grid;grid-template-columns:repeat(4,1fr);grid-template-rows:repeat(4,1fr);gap:10px;background-color:#bbada0;padding:10px;border-radius:5px;width:90%;max-width:500px;margin:20px 0}
